@import url('https://fonts.googleapis.com/css2?family=Jost&family=Roboto&display=swap');

/* Merge a color and bold a sentence... bet! Here's the code */
.colorbold {
  color: purple;
  font-weight: bold;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFFFFF;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  font-family: tahoma;
  z-index: 1000;
  transition: all 1s ease-out;
}

.chocobo {
  height: 100%;
  transform: scalex(-1);
  position: relative;
  animation: runningchocobo 6s infinite;
}

header:hover {
  background-color: rgb(0, 0, 0);
  transition: all 0.7s ease-out;
}

.headerlist {
  list-style: none;
  display: flex;
}

.headerform {
  display: flex;
  align-items: center;
}

.listheader {
 margin-right: 20px;
}

.listlink {
  color: #FFFFFF;
  text-decoration: none;
}

.inputbox {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  height: 80%"

}

.inputbutton {
  background-color: #808080;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 9px;
  transition: all 0.5s ease-out;
  margin-right: 10px;
  height: 40px;
}

.inputbutton:hover {
  background-color: #000000;
  transition: all 0.5s ease-out;
}

button {
  background-color: #808080;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 9px;
  transition: all 0.5s ease-out;
  margin-right: 10px;
}

button:hover {
  background-color: #000000;
  transition: all 0.5s ease-out;
}

body {
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-family: 'Jost', sans-serif;
  font-size: 15px;
  color: #000000;
  padding-top: 40px;
  transition: all 0.4s ease-in;
}

.musicplayer {
  width: 300px;
  text-align: center;
  margin: auto;
  padding: 10px;
  opacity: 0.4;
}

.musicplayer:hover {
  opacity: 1;
}

.parentimg {
  width: 100%;
  height: 150px;
  margin: auto;
  padding: 10px;
  border-color: #000000;
  word-wrap: normal;
  display: flex;
}

.name {
  display: flex;
  margin: 5px;
}

.graffiti {
  width: 100%;
  top: 0;
  left: 0;
  border: 1px solid
}

.joshuacontainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40%;
  width: 30%;
  border: none;
}

.joshuaimage1 {
  width: 150px;
  height: 100%;
  object-fit: cover;
  border-radius: 500px;
  filter: grayscale(0.6);
  transition: all 0.5s ease-out;
  top: 0px;
  left: 0px;
}

.joshuaimage1:hover {
  filter: grayscale(0);
}

body {
  background-color: rgb(224, 224, 224);
}

h3 {
  background-color: rgba(11, 60, 151, 0.2);
}

.title {
  width: 75%;
  text-align: center;
  margin: auto;
  padding: 10px;
  border-style: none;
  border-color: #000000;
  word-wrap: normal;
  font-size: 2.5rem;
}

.bodycontent {
  width: 75%;
  text-align: center;
  margin: auto;
  padding: 10px;
  border-style: double;
  border-color: #000000;
  word-wrap: normal;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  margin-right: 1.3rem;
  gap: 0.5rem;
}

.gridimage {
  text-align: center;
  margin: 10px;
  border-style: solid;
  height: 350px;
  width: 100%;
  object-fit: cover;
  opacity: 0.7;
  filter: grayscale(0.7);
}

.gridimage:hover {
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(1.25);
  height: auto;
  object-fit: cover;
  filter: grayscale(0);
}

.videobox {
  position: relative;
  display: block;
  width: 90%;
  /* width of iframe wrapper */
  height: 0;
  margin: auto;
  padding: 0% 0% 56.25%;
  /* 16:9 ratio */
  overflow: hidden;
}

.videobox iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Dark mode CSS styling */
.dark-mode {
  background-color: #333333;
  color: #F0F0F0;
  transition: all 0.4s ease-in;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height:2.13rem;
  margin-bottom: 0.63rem;
  margin-inline: auto;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderDarkMode {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #720000;
  transition: all 0.4s ease-in;
  border-radius: 2.13rem;
}

.sliderDarkMode:before {
  position: absolute;
  content: "";
  height: 1.63rem;
  width: 1.63rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: #FFFFFF;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .sliderDarkmode {
  background-color: #720000;
}

input:focus + .sliderDarkMode {
  box-shadow: 0 0 2px #000000;
}

input:checked + .sliderDarkMode:before {
  transform: translateX(1.63rem);
}

.redbg {
  background-color: #720000;
  transition: all 0.4s ease-in;
}

/* End of darkmode styling */

footer {
  margin-top: 200px;
  text-align: center;
  padding: 3px;
  background-color: #3B3B3B;
  color: #FFFFFF;
  font-family: verdana;
  font-size: 10px;
  opacity: 0.8;
  transition: all 1s ease-out;
}

footer:hover {
  opacity: 1.0;
}

@media (min-width: 280px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1100px) {
  .inputbox {
    display: none;
  }

  .chocobo {
    display: none;
  }

  .inputbutton {
    display: none;
  }
}

@media (min-width: 650px) {
  header {
    font-size: 16px;
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@keyframes runningchocobo {
  0% {left: 0px;}
  49% {left: 200px; transform: scalex(-1)}
  51% {transform:scalex(1)}
  98% {left: 0px; transform:scalex(1)}
}